@{
    ViewBag.Title = "Edit";
}

@section Styles {
    <style>
        .body-content {
            max-width: none;
        }
        #play-top {
            margin-left: 200px !important;
        }
        #footer {
            margin-left: 200px;
        }
    </style>
    @Styles.Render("~/Content/play")
}

<div id="play-container">
    <div id="play-top">
        <h1>Editing GameName.</h1>
        <p>Documentation links can go here I guess.</p>
        <button class="btn btn-info">Edit Name/Description</button>
        <button class="btn btn-success">Save All</button>
        <button class="btn btn-primary">Run Code</button>
        ||
        <button class="btn btn-primary">Play Level</button>
    </div>
    <div id="play-content">
        <div id="edit-left">
            <h2 class="text-center">Files</h2>
        </div>
        <div id="edit-center">
            <div id="edit-code"></div>
            <div id="edit-player">
                <iframe id="play-sandbox" src="/Play/Sandbox" sandbox="allow-scripts"></iframe>
            </div>
        </div>
        <div id="edit-right">
            <h2 class="text-center">Objects</h2>
        </div>
    </div>
</div>

@section Scripts{

    <script src="/Scripts/vs/loader.js" type="text/javascript" charset="utf-8"></script>

    <script>
        // Monaco editor setup
        var editor;

        require.config({ paths: { "vs": "/Scripts/vs" } });
        require(['vs/editor/editor.main'], function () {
            editor = monaco.editor.create(document.getElementById("edit-code"), {
                value: '// Test Code!\ndocument.body.style.background = "linear-gradient(135deg,cyan,red)";',
                language: "javascript",
                automaticLayout: true,
                theme: "vs-dark"
            });

            // Add keyboard shortcuts to run code!
            editor.addAction({
                id: "blockpusher-run",
                label: "Run Code",
                keybindings: [
                    monaco.KeyCode.F5,
                    monaco.KeyMod.CtrlCmd | monaco.KeyCode.KEY_S
                ],
                run: function (editor) {
                    submitCode();
                }
            })
        });

        let sandboxElement = document.getElementById("play-sandbox");

        function submitCode() {

            let code = editor.getValue();

            sandboxElement.contentWindow.postMessage({ type: "submitCode", code: code }, "*"); // Can't use actual origin for sandboxed frames???

        }

    </script>

}