@{
    ViewBag.Title = "Edit";
}

@section Styles {
    <style>
        .body-content {
            max-width: none;
        }

        #play-top {
            margin-left: 200px !important;
        }

        #footer {
            margin-left: 200px;
        }
    </style>
    @Styles.Render("~/Content/play")
}

<div id="play-container">
    <div id="play-top">
        <h1>Editing GameName.</h1>
        <p>Documentation links can go here I guess.</p>
        <button class="btn btn-info">Edit Name/Description</button>
        <button class="btn btn-success">Save All</button>
        <button class="btn btn-primary" onclick="runCode();">Run Code</button>
        ||
        <button class="btn btn-primary">Play Level</button>
    </div>
    <div id="play-content">
        <div id="edit-left">
            <h2 class="text-center">Files</h2>
        </div>
        <div id="edit-center">
            <div id="edit-code"></div>
            <div id="edit-player">
                <iframe id="play-sandbox" src="/Play/Sandbox" sandbox="allow-scripts"></iframe>
            </div>
        </div>
        <div id="edit-right">
            <h2 class="text-center">Objects</h2>
        </div>
    </div>
</div>

@section Scripts{

    <script src="/Scripts/vs/loader.js" type="text/javascript" charset="utf-8"></script>

    <script>
        // Monaco editor setup
        var editor;

        require.config({ paths: { "vs": "/Scripts/vs" } });
        require(['vs/editor/editor.main'], function () {
            editor = monaco.editor.create(document.getElementById("edit-code"), {
                value:
`// Test Code
World.render = function() {
	Render.clear("yellow");
	for(var i = 1; i<10; i++)
		Render.drawCircleOutline
		("red", Math.random() * 600, Math.random() * 600, 50, 5);
}
`,
                language: "javascript",
                automaticLayout: true,
                theme: "vs-dark"
            });

            // Add keyboard shortcuts to run code!
            editor.addAction({
                id: "blockpusher-run",
                label: "Run Code",
                keybindings: [
                    monaco.KeyCode.F5,
                    monaco.KeyMod.CtrlCmd | monaco.KeyCode.KEY_S
                ],
                run: function (editor) {
                    runCode();
                }
            })
        });

        let sandboxElement = document.getElementById("play-sandbox");

        function runCode() {
            console.log(encodeURIComponent(editor.getValue()).length, btoa(editor.getValue()).length);

            let codeURL = "data:application/javascript;base64," + btoa(editor.getValue());

            sandboxElement.contentWindow.postMessage({ type: "setFile", file: "World.js", url: codeURL }, "*"); // Can't use actual origin for sandboxed frames???

        }

    </script>

}