
@{
    ViewBag.Title = "Play";
}

@section Styles {
    @Styles.Render("~/Content/play")
}

<div id="game-player">
    <h1>GameName</h1>
    <p>By GameAuthor. Based on <b>Other</b> by OtherAuthor.</p>
    <div id="game-buttons">
        <button class="btn btn-info">Game Info</button>
        <button class="btn">Save</button>
        <button class="btn">Load</button>
        <button class="btn">Restart</button>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-primary">Edit Copy</button>
    </div>
    <div id="game-container">
        <iframe id="game-sandbox" src="/Play/Sandbox" sandbox="allow-scripts"></iframe>
    </div>
</div>
