
@{
    ViewBag.Title = "Play";
}

@section Styles {
    @Styles.Render("~/Content/play")
}

<div id="play-container">
    <div id="play-top">
        <h1>BlockPusher</h1>
        <p>by Adam, Alex, and Matt.
        <button class="btn btn-info">Game Info</button>
        <button class="btn btn-danger">Reset</button>
        <button class="btn btn-primary">Edit</button>
        <button class="btn btn-primary">Edit Copy</button>
        @*@Html.ActionLink("test", "GetFileNames", "Content")*@


    </div>
    <div id="play-content">
        <iframe id="play-sandbox" src="/Play/Sandbox" sandbox="allow-scripts"></iframe>
    </div>
</div>


@* TODO LOAD THAT GAME! *@    
