<!doctype html>
<head>
    <title>BlockPusher Sandbox</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' 'unsafe-eval' 'self' *;">
    <style>
        html, body {
            font-family: sans-serif;
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
    </style>
    <script>
        // Sandboxing attempts
        delete window.alert;
    </script>
</head>
<body>
	<canvas id="game-canvas" width="640" height="480"></canvas>
    <script src="/Scripts/blockpusher.js"></script>
    <script>
        // Canvas resizing

        function resizeCanvas() {
            let canvas = document.getElementById("game-canvas");
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
        }

        resizeCanvas();

        window.addEventListener("resize", resizeCanvas);
    </script>
</body>