<!doctype html>
<head>
    <title>BlockPusher Sandbox</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="default-src 'unsafe-inline' 'unsafe-eval' 'self' data: *;">
    <style>
        html, body {
            background: black;
            font-family: sans-serif;
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
        }
    </style>
    <script>
        // Sandboxing attempts
        delete window.alert;
    </script></head>
<body>
	<canvas id="game-canvas"></canvas>
    <script src="/Scripts/blockpusher.js"></script></body>