@*<style>
    .jumbotron {
        /*background-color: cornflowerblue;
        color: darkslategray;*/
    }
</style>*@

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @*<link href="css/jquery.dataTables.css" rel="stylesheet" type="text/css" />*@
    @*<link rel="stylesheet"
          href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet"
          href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">*@

</head>
<body>
    <div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
        <div class="jumbotron">
            <h1 style="text-align:center; font-family:'High Tower Text'">
                BlockPusher
            </h1>
        </div>
        <div>
            <h4>
                BlockPusher is a game which allows you to program it on the fly! It's a great, fun way to learn programming in JavaScript!
            </h4>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <div class="col-xs-4">
                    <h4>Upload your own assets into the game!</h4>
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Images/content.png" alt="Game Assets" />
                    </a>
                </div>
                <div class="col-xs-4">
                    <h4>See your code change the game in real-time!</h4>
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Images/code.png" alt="Game Code" />
                    </a>
                </div>
                <div class="col-xs-4">
                    <h4>Create a game that all your friends will enjoy!</h4>
                    <a href="#" class="thumbnail">
                        <img src="~/Content/Images/game.png" alt="A Game" />
                    </a>
                </div>
                @*<div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/300x150" alt="..." />
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/300x150" alt="..." />
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/300x150" alt="..." />
                        </a>
                    </div>
                    <div class="col-xs-3">
                        <a href="#" class="thumbnail">
                            <img src="http://placehold.it/300x150" alt="..." />
                        </a>
                    </div>*@
            </div>
        </div>
        <br />

    </div>
</body>
</html>