<style>
    .jumbotron {
        background-color: cornflowerblue;
        color: darkslategray;
    }
</style>

<div style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">
    <div class="jumbotron">
        <h1 style="text-align:center; font-family:fantasy">
            BlockPusher
        </h1>
    </div>
    <div>
        <h4>
            BlockPusher is a game which allows you to program it on the fly! It's a great, fun way to learn programming in JavaScript!
        </h4>
    </div>
    </br>
    <div class="container">
        <div class="row">
            <h3>[will be replaced with actual pictures from game]</h3>
            <div class="col-xs-4">
                <h4>See your code change the game in real-time!</h4>
                <a href="#" class="thumbnail">
                    <img src="https://cdn.discordapp.com/attachments/363112269204160524/425065789888921633/unknown.png" alt="..." />
                </a>
            </div>
            <div class="col-xs-4">
                <h4>Upload your own assets into the game!</h4>
                <a href="#" class="thumbnail">
                    <img src="https://i.warosu.org/data/biz/img/0061/52/1515499944008.jpg" alt="..." />
                </a>
            </div>
            <div class="col-xs-4">
                <h4>Create a game that all your friends will enjoy!</h4>
                <a href="#" class="thumbnail">
                    <img src="https://az616578.vo.msecnd.net/files/2016/06/03/636005873017688872-1784786376_friends%20pic.jpg" alt="..." />
                </a>
            </div>
            @*<div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/300x150" alt="..." />
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/300x150" alt="..." />
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/300x150" alt="..." />
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="http://placehold.it/300x150" alt="..." />
                    </a>
                </div>*@
        </div>
    </div>
    </br>

</div>