
html, body {
    width: 100%;
    height: 100%;
}

.body-content {
    position: relative;
    height: 100%;
}

#play-container {
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
}

#play-container * {
    margin: 1px;
}

#play-content {
    position: absolute;
    top: 98px;
    bottom: 0;
    left: 0;
    right: 0;
}

#play-sandbox {
    width: 100%;
    height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
}

#edit-left {
    position: absolute;
    left: 0;
    width: 200px;
    height: 100%;
}

#edit-center {
    position: absolute;
    left: 200px;
    right: 200px;
    height: 100%;
    background: #1e1e1e;
}

#edit-right {
    position: absolute;
    right: 0;
    width: 200px;
    height: 100%;
}

#edit-code {
    position: absolute;
    width: 50%;
    height: 100%;
}

#edit-player {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%
}